.nav {
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: 3; // above background overlay
  min-height: 100dvh;
  width: 100vw;

  .wrapper {
    position: relative;
    display: flex;
    gap: 50px;
    margin-bottom: 12px; // prev 80px
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      margin-bottom: 0px;
      justify-content: space-between;
    }
  }
}
